
<div class="search" name="search-ad-position">
  <div class="layui-inline">
    <input class="layui-input"  name="position" placeholder="广告位"  autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload" onclick="reloadAdPosition(1)">搜索</button>
    <button class="layui-btn layui-btn-normal"  onclick="showAdPositionDialog()">新增</button>
</div>
 
<table id="ad-position-table" lay-filter="ad-position"></table>
<script type="text/html" id="ad-position-toolbar">
  <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<form id='ad-position-dialog'  style="display:none;padding:20px;"  class="layui-form" action="">
	  <input type='hidden' name='id'  />
 <div class="layui-form-item">
    <label class="layui-form-label">广告联盟</label>
    <div class="layui-input-block">
      <select url="/data-item/enum/AdUnionEnum" required name="adUnion">
      </select>
    </div>
    </div>
    
   <div class="layui-form-item">
    <label class="layui-form-label">广告位</label>
     <div class="layui-input-block">
        <input type="text" name="position" placeholder="对应页面上广告位的id，id1,id2...."  autocomplete="off" class="layui-input">
    </div>
  </div>
  
   <div class="layui-form-item">
    <label class="layui-form-label">html</label>
     <div class="layui-input-block">
        <textarea name="html" placeholder="请输入html" class="layui-textarea"></textarea>
    </div>
  </div>
  
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="ad-position-save">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script>
var adPositionTable;
var contentLoadCount = 0;
var contentEditorIndex;
layui.use('table', function(){
  var table = layui.table;
//第一个实例
  adPositionTable = table.render({
    elem: '#ad-position-table'
    ,url: '/ad-position/page?order=desc&sort=update_time' //数据接口
    ,page: true //开启分页
    ,loading:true
    ,toolbar:true
    ,title:"广告位"
    ,height: 'full-200'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,done: function(res, curr, count){
		if(contentLoadCount == 0){
			contentLoadCount++;
			adPositionTable.reload();
			
		}
    }
    ,cols: [[ //表头
       {type:'numbers'}
      ,{field: 'adUnionLabel', title: '广告联盟'}
      ,{field: 'position', title: '广告位'}
      ,{field: '', title: 'html' ,templet: function(d){
        return '<a  class="layui-btn  layui-btn-sm" style="background:none;color:#2d8cf0;" lay-event="assignResources">'
			+'<i class="layui-icon">&#xe672;</i>点击查看</a>';
      }}
      ,{field: 'createTime', title: '更新时间'}
      ,{field: 'updateTime', title: '创建时间'}
      ,{fixed:"right",field: '' ,toolbar: '#ad-position-toolbar'}
    ]]
  });
  
  
//监听工具条
  table.on('tool(ad-position)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的DOM对象
   
    if(layEvent === 'detail'){ //查看
      //do somehing
    } else if(layEvent === 'del'){ //删除
      layer.confirm('您确定要删除 <span style="color:red;">广告位：'+data.position+'</span> 吗？', function(index){
       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
       $.ajax({
    	   type:"delete",
    	   url:"/ad-position/"+data.id
       }).done(function(data){
    	   layer.close(index);
    	   reloadAdPosition();
       });
     
      });
    } else if(layEvent === 'edit'){ //编辑
    	showAdPositionDialog(data)
    }
  });
  
  
  
});

function showAdPositionDialog(oldData){
	layer.open({
	  title:oldData?'编辑广告位':'添加广告位',
	  shade :0.3,
	  type: 1,
	  skin: 'layui-layer-molv', //加上边框
	  area: ["30%","60%"], //宽高
	  content: $("#ad-position-dialog"),
	  success:function(layero,index){
		  layui.use(['form'], function(){
			var form = layui.form;
			$("#ad-position-dialog")[0].reset();
			$("#ad-position-dialog").find("input[type='hidden']").val('');
			$("#ad-position-dialog").find("textarea").val('');
			if(oldData){
				  
			   $.get("/ad-position/"+oldData.id).done(function(data){
				   for (var name in data) {
						$("#ad-position-dialog").find('input[name="' + name + '"],select[name="' + name + '"],radio[name="' + name + '"],textarea[name="' + name + '"]').val(data[name]);
	   			   }
			  })
	  
		    }
			form.on('submit(ad-position-save)', function(data){
			      $.ajax({type:oldData?'put':'post',url:'/ad-position',contentType: 'application/json',data:JSON.stringify(data.field)}).done(function(data){
				  layer.msg("保存广告位成功");
			      layer.close(index);
			      reloadAdPosition();
			 	 }); 
			     return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			}); 
		});
	  }
	});
}

function reloadAdPosition(pageNum){
	var options = {
			
	where: {
	  username: $("div[name=search-ad-position]").find("input[name='position']").val(),
	  likes:"position"
 		   }
	};
	if(pageNum){
		options.page={curr:pageNum};
	}
	adPositionTable.reload(options);
}
</script>
