<div class="search-article">
  <div class="layui-inline">
    <input class="layui-input"  name="title" placeholder="标题"  autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload" onclick="reloadArticle(1)">搜索</button>
    <button class="layui-btn layui-btn-normal"  onclick="showArticleDialog()">新增</button>
</div>
 
<table id="article-table" lay-filter="article"></table>
<script type="text/html" id="toolbar">
  <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<form id='article-dialog' type='dialog'   style="display: none;padding:20px;"  class="layui-form" action="">
	  <input type='hidden' name='categoryId'  />
	  <input type='hidden' name='id'  />
  <div class="layui-form-item">
    <label class="layui-form-label">分类</label>
    <div class="layui-input-block">
      <input type="text" name="categoryName"  onclick="showContentCategoryTree()" autocomplete="off" placeholder="请选择博客分类" class="layui-input">
	  <i class="layui-icon" style="  font-size: 30px;
    color: red;
    position: absolute;
    top: 4px;
    right: 0px;cursor: pointer;width:40px;height:40px;" title="清空" onclick="clearArticleCategory()">&#xe640;</i> 
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
     <div class="layui-input-block">
       <input type="text"  name="title" lay-verify="required"  placeholder="请输入标题" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">内容</label>
     <div class="layui-input-block">
       <textarea placeholder="请输入内容" name="content" id="article-content" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item" style="bottom: 0px;position: absolute;right: 20px;">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="article-save">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<div id="article-category-tree" style="background: #93ccb4;display: none;" type=dialog>
</div>
 
<script>
var articleTable;
var contentLoadCount = 0;
var contentEditorIndex;
layui.use('table', function(){
  var table = layui.table;
//第一个实例
  articleTable = table.render({
    elem: '#article-table'
    ,url: '/article/page?order=desc&sort=post_time' //数据接口
    ,page: true //开启分页
    ,loading:true
    ,height: 'full-200'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,skin: 'line' //行边框风格
    ,even: true //开启隔行背景
    ,done: function(res, curr, count){
		if(contentLoadCount == 0){
			contentLoadCount++;
			articleTable.reload();
			
		}
    }
    ,cols: [[ //表头
       {type:'numbers',width:"5%"}
      ,{field: 'title', title: '标题', width:"10%"}
      ,{field: 'summary', title: '摘要', width:"12%"}
      ,{field: 'postTime', title: '发布时间', width:"13%"}
      ,{field: 'readCount', title: '阅读', width:"10%"}
      ,{field: 'commentCount', title: '评论', width:"10%"}
      ,{field: 'author', title: '作者', width:"10%"}
      ,{field: '', width: "15%" ,toolbar: '#toolbar'}
    ]]
  });
  
  
//监听工具条
  table.on('tool(article)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的DOM对象
   
    if(layEvent === 'detail'){ //查看
      //do somehing
    } else if(layEvent === 'del'){ //删除
      layer.confirm('您确定要删除 <span style="color:red;">'+data.title+'</span> 吗？', function(index){
       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
       $.ajax({
    	   type:"delete",
    	   url:"/article/"+data.id
       }).done(function(data){
    	   layer.close(index);
    	   reloadArticle();
       });
     
      });
    } else if(layEvent === 'edit'){ //编辑
    	showArticleDialog(data)
    }
  });
  
  
  
});
function showContentCategoryTree(data){
	$('#article-category-tree').empty();
	 var layerIndex = layer.open({
		  title:'选择博客分类',
		  type: 1,
		  anim: 1,
		  skin: 'layui-layer-molv', //加上边框
		  area: ['500px', '700px'], //宽高
		  content: $("#article-category-tree"),
				  btn: [ '取消'] 
				 
		}); 
	layui.use('tree', function(){
	$.get('/category/tree').done(function(data){
		if(!data){
			return;
		}
		layui.tree({
			  elem: '#article-category-tree'
			  ,skin: 'shihuang'
			  ,click: function(node){
				  $('#article-dialog').find("input[name=categoryName]").val(node.name)
				  $('#article-dialog').find("input[name=categoryId]").val(node.id);
				  layer.close(layerIndex);
			  } 
			  ,nodes: data
			});
	})
	
	});
}
function clearArticleCategory(){
	 $('#article-dialog').find("input[name=categoryName]").val('')
	 $('#article-dialog').find("input[name=categoryId]").val(-1);
}
function showArticleDialog(oldData){
	layer.open({
	  title:oldData?'编辑博客':'添加博客',
	  type: 1,
	  anim: 1,
	  skin: 'layui-layer-molv', //加上边框
	  area: ["60%","80%"], //宽高
	  content: $("#article-dialog"),
	  success:function(layero,index){
		  layui.use(['form','layedit','layer'], function(){
			var form = layui.form;
			var layedit = layui.layedit;
			$("#article-dialog")[0].reset();
			$("#article-dialog").find("input[type='hidden']").val('');
			$("#article-dialog").find("textarea").val('');
			if(oldData){
				  
			   $.ajax({url:"/article/"+oldData.id,type:"get",async:false}).done(function(data){
				   for (var name in data) {
						$("#article-dialog").find('input[name="' + name + '"],select[name="' + name + '"],radio[name="' + name + '"],textarea[name="' + name + '"]').val(data[name]);
	   			   }
					//parentName
					  if(oldData.categoryId != -1){
						  $.get("/category/"+oldData.categoryId).done(function(data){
							  $("input[name=categoryName]").val(data.name)
					
			  			})
					  }
			  })
					 
				
			  
		    }
			  layedit.set({
	                //暴露layupload参数设置接口 --详细查看layupload参数说明
	                uploadImage: {
	                    url: '/file/upload',
	                    accept: 'image',
	                    acceptMime: 'image/*',
	                    exts: 'jpg|png|gif|bmp|jpeg',
	                    size: '10240'
	                }
	                , uploadVideo: {
	                    url: '/Attachment/LayUploadFile',
	                    accept: 'video',
	                    acceptMime: 'video/*',
	                    exts: 'mp4|flv|avi|rm|rmvb',
	                    size: '20480'
	                }
	                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
	                //传递参数：
	                //图片： imgpath --图片路径
	                //视频： filepath --视频路径 imgpath --封面路径
	                , calldel: {
	                    url: '/Attachment/DeleteFile'
	                }
	                //开发者模式 --默认为false
	                , devmode: false
	                //插入代码设置
	                , codeConfig: {
	                    hide: false,  //是否显示编码语言选择框
	                    default: 'javascript' //hide为true时的默认语言格式
	                }
	                , tool: [
	                    'html', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'colorpicker', 'face'
	                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video', 'anchors'
	                    , '|', 'fullScreen'
	                ]
	                , height: '350px'
	            });
	            var contentEditorIndex = layedit.build('article-content');
			
			
			form.on('submit(article-save)', function(data){
			      data.field.content = layedit.getContent(contentEditorIndex);
			      layer.load(2);
			      $.ajax({type:oldData?'put':'post',url:'/article/save',contentType: 'application/json',data:JSON.stringify(data.field)}).done(function(data){
				  layer.msg("保存博客成功");
				  layer.closeAll();
			      reloadArticle();
			 	 }); 
			     return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			}); 
		});
	  }
	});
}

function reloadArticle(pageNum){
	var options = {
			
	where: {
  	  title: $(".search-article").find("input[name='title']").val(),
	  likes:"title"
 		   }
	};
	if(pageNum){
		options.page={curr:pageNum};
	}
	articleTable.reload(options);
}
</script>
