<div class="search">
  <div class="layui-inline">
    <input class="layui-input" id="name" name="name" placeholder="名称"  autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload" onclick="reloadCategory(1)">搜索</button>
</div>
 
<table id="category-table" lay-filter="category"></table>
<script type="text/html" id="toolbar">
  <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script>
var categoryTable;
layui.use('table', function(){
  var table = layui.table;
//第一个实例
  categoryTable = table.render({
    elem: '#category-table'
    ,height: 315
    ,url: '/category/page' //数据接口
    ,page: true //开启分页
    ,loading:true
    ,height: 'full-200'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[ //表头
              
       {field: 'name', title: '名称', width:"30%"}
      ,{field: 'comment', title: '描述', width:"30%"}
      ,{field: 'wealth', width: "40%" ,toolbar: '#toolbar'}
    ]]
  });
  
//监听工具条
  table.on('tool(category)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的DOM对象
   
    if(layEvent === 'detail'){ //查看
      //do somehing
    } else if(layEvent === 'del'){ //删除
      layer.confirm('真的删除行么', function(index){
       // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
       $.ajax({
    	   type:"delete",
    	   url:"/category/"+data.id
       }).done(function(data){
    	   layer.close(index);
    	   reloadCategory();
       });
     
      });
    } else if(layEvent === 'edit'){ //编辑
      //do something
      
      //同步更新缓存对应的值
      obj.update({
        username: '123'
        ,title: 'xxx'
      });
    }
  });
  
});

function reloadCategory(pageNum){
	var options = {
	where: {
  	  name: $("#name").val(),
	  likes:"name"
 		   }
	};
	if(pageNum){
		options.page={curr:pageNum};
	}
	categoryTable.reload(options);
}
</script>
