<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>rejoice</title>
<link rel="stylesheet" href="/plugin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body class="layui-layout-body" layadmin-themealias="default">

  <ul class="rightmenu">
        <!-- <li data-type="closethis">关闭当前</li> -->
        <li data-type="closeothers">关闭其它</li>
        <li data-type="closeall">关闭所有</li>
        <li data-type="closeleft">关闭左侧</li>
        <li data-type="closeright">关闭右侧</li>
        <!-- <li data-type="refresh">刷新当前页</li> -->
    <!--     <li data-type="cancel"><i class="layui-icon layui-icon-yinshenim"></i>取消</li> -->
    </ul>

<div id="LAY_app" >
	<div class="layui-layout layui-layout-admin" >
		<div class="layui-header">
			<div class="layui-logo">rejoice博客后台</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item"><a href="">控制台</a></li>
				<li class="layui-nav-item"><a href="">商品管理</a></li>
				<li class="layui-nav-item"><a href="">用户</a></li>
				<li class="layui-nav-item"><a href="javascript:;">其它系统</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">邮件管理</a>
						</dd>
						<dd>
							<a href="">消息管理</a>
						</dd>
						<dd>
							<a href="">授权管理</a>
						</dd>
					</dl></li>
			</ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="">退了</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item"><a class="" href="javascript:;">系统管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;">用户管理</a>
							</dd>
							<dd>
								<a url="/page/admin/dictionary.html" href="javascript:;" id='dictionary' class='open-tab'
									data-type="tabAdd">字典管理</a>
							</dd>
							<dd>
								<a url="/page/admin/ad-position.html" href="javascript:;" id='ad-position' class='open-tab'
									data-type="tabAdd">广告位管理</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item layui-nav-itemed"><a
						href="javascript:;">博客管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a url="/page/admin/category.html" href="javascript:;" id='category' class='open-tab'
									data-type="tabAdd">博客分类</a>
							</dd>
							<dd>
								<a url="/page/admin/article.html" href="javascript:;" id='article' class='open-tab'
									data-type="tabAdd">博客列表</a>
							</dd>
							<dd>
								<a url="/page/admin/pdf-book.html" href="javascript:;" id='pdf-book' class='open-tab'
									data-type="tabAdd">pdf图书</a>
							</dd>
						</dl></li>
						
						<li class="layui-nav-item layui-nav-itemed"><a
						href="javascript:;">第三方账号管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a url="/page/admin/api-account.html" href="javascript:;" id='api-account' class='open-tab'
									data-type="tabAdd">账号管理</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>

		<div class="layui-body" style="height:96%;">
			<!-- 内容主体区域 -->
			<div class="layui-tab layui-tab-card" lay-allowclose="true"  lay-filter="tab" style="height:98%;margin:0px;"
				lay-allowclose="true">
				<ul class="layui-tab-title">
					<li class="layui-this" lay-id="11">首页</li>
				</ul>
				<div class="layui-tab-content" >
					<div class="layui-tab-item layui-show" >欢迎使用rejoice博客后台管理系统</div>
				</div>
			</div>
		</div>
	</div>
	    <script th:src="@{/plugin/jquery.min.js}"></script>
	<script src="/plugin/layui/layui.js"></script>
	<script src="/js/rejoice.js"></script>
	<script>
//JavaScript代码区域
layui.use('element', function(){
  var $ = layui.jquery
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  
  //触发事件
  var active = {
    tabAdd: function(){
      var $this = this;
      var id = $(this).attr("id")+"-tab";
      var title = $(this).text();
      if (!$(".layui-tab-title li[lay-id='"+id+"']").length > 0 ) { 
    	   $.get($($this).attr("url")).done(function(data){
    		    //新增一个Tab项
 		      element.tabAdd('tab', {
 		        title: title
 		        ,content:"<div class='layui-card '  style='padding:20px;'  id='"+id+"-content'>"+data+"</div>"
 		        //,content: '<iframe data-frameid='+id+'-frame'+' frameborder="0" name="content" scrolling="no" width="100%" src="/page/admin/category.html"></iframe>'
 		        ,id: id //实际使用一般是规定好的id，这里以时间戳模拟下
 		      })
 		     active.tabChange($this);
    	   });
    	 
    	}else{
    		 active.tabChange($this);
    	}
    
     
    }
    ,tabDelete: function(othis){
      //删除指定Tab项
      element.tabDelete('demo', '44'); //删除：“商品管理”
      
      othis.addClass('layui-btn-disabled');
    }
    ,tabChange: function(othis){
      //切换到指定Tab项
      element.tabChange('tab',othis.id+"-tab"); //切换
    }
  };
  
  $('.open-tab').on('click', function(){
    var othis = $(this), type = othis.data('type');
    active[type] ? active[type].call(this, othis) : '';
  });
  
  element.on('tab(tab)', function(data){
	  init(this);
  });
  
});
function init(tabTitle){
	var $content = $('#'+$(tabTitle).attr('lay-id')+'-content');
	var $dialogList = $content.find('form[type=dialog],div[type=dialog]');
	$dialogList.each(function(i){
		if($("body").children("#"+$(this).attr('id')).size() == 0){
			$(this).appendTo($("body"));
		}else{
			$(this).remove();
		}
	})
	layui.use('form', function(){
		var form = layui.form;			
		$content.find("select").each(function(index,item){
			var $select = $(this);
			$select.empty();
			$select.append("<option>请选择</option>");
			$.get($(this).attr("url")).done(function(data){
				if(data.code==0){
					data = data.data;
					for(var i = 0; i < data.length; i++){
						var option = "<option value="+data[i].value+">"+data[i].label+"</option>";
						$select.append($(option));
					}
					form.render("select");
				}
			})
		})
	});
}

function showCategoryTree(){
	var $categoryInput = $(this);
	$('#category-tree').empty();
	 var layerIndex = layer.open({
		  title:'选择分类',
		  type: 1,
		  anim: 1,
		  skin: 'layui-layer-molv', //加上边框
		  area: ['500px', '700px'], //宽高
		   content: $("#category-tree"),
				  btn: [ '取消'] 
				 
		}); 
	layui.use('tree', function(){
	$.get('/category/tree').done(function(data){
		if(!data){
			return;
		}
		layui.tree({
			  elem: '#category-tree'
			  ,skin: 'shihuang'
			  ,click: function(node){
				  alert($categoryInput.attr("clickCallback"));
				  layer.close(layerIndex);
			  } 
			  ,nodes: data
			});
	})
	
	});
}
</script>
</body>
</html>
