<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
<footer>
<style>
.widewrapper .col-md-4 >a{
	color:#9ab9c5!important;
}
.widewrapper .col-md-4 >a:hover{
	color:#e8f1f5!important;
}
</style>
 <div class="widewrapper footer" style="color:white;clear:both;">
            <div class="container" >
                <div>

                    <div class="col-md-4 footer-widget">
                        <h3>  友情链接</h3>
                           <a target="_blank" href="http://www.itcast.cn">传智博客</a>
                            <a target="_blank" href="http://www.csdn.net">csdn</a>
                            <a target="_blank" href="http://cnblogs.cn">博客园</a>
                            <a target="_blank" href="https://www.aliyun.com/">阿里云</a>
                            <a target="_blank" href="https://cloud.baidu.com/">百度云</a>
                            <a target="_blank" href="https://cloud.tencent.com/">腾讯云</a>
                            <a target="_blank" href="http://www.chinaz.com/">站长之家</a>
                            <a target="_blank" href="http://www.jianshu.com/">简书</a>
                            <a target="_blank" href="">网易云</a>
                            <a target="_blank" href="">美团云</a>
                    </div>
  				 <div class="col-md-4 footer-widget" style="color:#9ab9c5!important;">
                        <h3> <i class="fa fa-user"></i>关于我们</h3>

                       <p >rejoice blog是一个专门分享精品免费pdf图书、书籍下载网站,同时不定时的更新站长最新的IT博客</p>
                    </div>
                    <div class="col-md-4 footer-widget" style="color:#9ab9c5!important;">
                        <h3> <i class="fa fa-envelope"></i>联系我们</h3>

                        <p>邮箱：948870341@qq.com</p>
                        <p>addr: rejoice from jesus , light the life</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright © 2017 www.rejoiceblog.com 版权所有
        </div>
    </footer>
</div>
</body>
</html>