<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="headTag">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="icon" type="image/x-icon" th:href="@{/img/logo.jpg}" />
	 <meta name="ctx" th:content="@{/}" />
    <link th:href="@{/plugin/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
     <!-- Font-Awesome -->
    <link rel="stylesheet" th:href="@{/plugin/font-awesome-4.7.0/css/font-awesome.min.css}" />
    <!-- Styles -->
    <link rel="stylesheet" href="/plugin/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/css/style.css}" id="theme-styles" />
    <link rel="stylesheet" th:href="@{/css/blog.css}" id="theme-styles" />
    <script th:src="@{/plugin/jquery.min.js}"></script>
    <script src="/plugin/layui/layui.js"></script>
    <script th:src="@{/js/user/public/public.js}"></script>
    <script th:src="@{/js/rejoice.js}"></script>
</div>
</body>
</html>