#page{
	width: 100%;
	margin-top:20px;
	float:left;
	font-size:14px;
	color:#333;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}
#page span{
	float:left;
		line-height: 32px;
    height: 32px;
    
}
#page > .check-page{
	background: #009688;
	color:white;
	border-color:#009688!important;
	z-index:1;
}
#page input, #page button{
	border: 1px solid #e2e2e2;
	line-height: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    width:60px;
        vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
      margin:0 6px;
}
 #page button{
 background: none;
     padding: 0 10px;
     width:50px;
     text-align: center;
 }
.pre{
	margin-left:0px;
}
#page .item{
	list-style: none;
	padding:0px 16px;
	border: 1px solid #e2e2e2;
	display: inline-block;
	float:left;
	margin-left:-1px;
	line-height: 32px;
    height: 32px;
    position: relative;
}
.item:hover{
	    z-index: 1;
    border-color: #009688!important;
    color:#009688;
}
.toPage:hover{
	color:black!important;
}
.toPage button:hover, .toPage input:hover{
	border-color: #009688!important;
}
.content-main{
	padding:20px;
}
.blog-aside{
	margin:0px;
	padding:0px;
	float:right;
	position: inherit !important;
	background: #fff;
}
.blog-aside .body{
		margin:0px;
}
.blog-aside header{
	    background:#40a4ea;
	        line-height: 30px;
    color: #fff;
    text-align: center;
	  
}
.blog-aside header h3{
	  color:white;
}
.clean-list a{
	white-space: nowrap;
	color:#2e9eef;
	font-size:14px;
}
.clean-list a:hover{
	color:#14a5e8 !important;
	text-decoration: underline;
}
.article-list  {
	float:left;
	height:auto;
}
.blog-main{
	border:1px solid white;
	border-bottom: 1px solid #e1e1e1;
	padding:20px;
	padding-bottom: 20px;
	width:100%;
}
.article-list .blog-main:HOVER{
	/* border: 1px solid #bad8f7; */
}
.blog-main .article{
	width:85%;
	float:left;
	padding-left:20px;
}
.blog-main img{
	float:left;
	width: 15%;;
	height:160px;
}
.blog-main .blog-content{
	font-size:14px;	
	color:#565a5f;
	padding-bottom: 10px;
}
.blog-main .meta{
	position: absolute;
	    bottom: 9px;
	    color:#999;
	    font-size:14px;
	    line-height:22px;
	    margin:0px;
}
.blog-main .article .title{
	font-size:22px;
	font-weight:bold;
	color:#009688;
	margin-bottom:10px;
}
.blog-main .article .title:hover{
	color:#12c4ef;
	text-decoration: underline;
}
