.content-main{
	padding:20px;
}
.blog-aside{
	margin:0px;
	padding:0px;
	float:right;
	position: inherit !important;
}
.blog-aside .body{
		background: #f0f6fb;
		margin:0px;
		padding-left:10px;
}
.blog-aside header{
	    background: #d2e9f9;
}
.blog-aside header h3{
	color:518092;
}
.clean-list a{
	color:#55849a;
}
.clean-list a:hover{
	color:#63b4da !important;
}
.article-list  {
	float:left;
	height:auto;
}
.blog-main{
	border:1px solid white;
	border-bottom: 1px solid #e1e1e1;
	padding:20px;
	padding-bottom: 20px;
	width:100%;
}
.article-list .blog-main:HOVER{
	/* border: 1px solid #bad8f7; */
}
.blog-main .article{
	width:80%;
	float:left;
	padding-left:20px;
}
.blog-main img{
	float:left;
	width:130px!important;
	height:160px;
}
.blog-main .blog-content{
	font-size:14px;	
	color:#565a5f;
	padding-bottom: 10px;
}
.blog-main .meta{
	position: absolute;
	    bottom: 9px;
	    color:#999;
	    font-size:14px;
	    line-height:22px;
	    margin:0px;
}
.blog-main .article .title h3{
	font-size:22px;
	font-weight:bold;
	color:#009688;
	margin-bottom:10px;
}
.blog-main .article .title h3:hover{
	color:#12c4ef;
	text-decoration: underline;
}
