.content-main{
	padding:20px;
}
.blog-aside{
	margin:0px;
	padding:0px;
	width:350px;
	float:right;
	position: inherit !important;
}
.article-list{
	float:left;
	width:720px;
	height:auto;
}
.blog-main{
	width:100%;
	border:1px solid white;
	border-bottom: 1px solid #e1e1e1;
	padding:20px;
	padding-bottom: 40px;
}
.article-list .blog-main:HOVER{
	/* border: 1px solid #bad8f7; */
}
.blog-main .article{
	width:530px;
	float:left;
	padding-left:20px;
}
.blog-main img{
	float:left;
	width:130px!important;
	height:160px;
}
.blog-main .blog-content{
	font-size:14px;	
	color:#565a5f;
	padding-bottom: 10px;
}
.blog-main .meta{
	position: absolute;
	    bottom: 9px;
	    color:#999;
	    font-size:14px;
	    line-height:22px;
}
.blog-main .article .title h3{
	font-size:22px;
	font-weight:bold;
	color:#009688;
	margin-bottom:10px;
}
.blog-main .article .title h3:hover{
	color:#12c4ef;
	text-decoration: underline;
}

