.detail-title{
	    font-weight: bold;
	    font-size: 2.4rem;
        color: #009688;
    text-decoration: none;
    line-height: 1.3em;
}

.blog-main .meta{
	    color:#999;
	    font-size:14px;
	    line-height:22px;
	    margin-top:10px;
}
.blog-post{
	overflow: hidden;
}
.blog-post a{
	color:#2696da !important;
}
.blog-post a:HOVER{
	color:#13d2ff !important;
	text-decoration: underline;
}
.blog-main{
	padding-top:0px!important;
}
 

