<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
  <div th:include="fragments/headTag :: headTag" th:remove="tag">
  </div>
  <title th:text="${article.title} +' - rejoice博客'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" th:attrappend="content=${article.summary}" />
    <meta name="keywords"  th:attrappend="content=${article.categoryName}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" th:attrappend="content=${article.title}" />
	<meta property="og:url"  th:attrappend="content=${#httpServletRequest.requestURL}" />
	<meta property="og:site_name" content="rejoice博客" />
	<meta property="og:description"  th:attrappend="content=${article.summary}" />
	<meta property="og:locale" content="zh-CN" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" th:attrappend="content=${article.title}" />
	<meta name="twitter:description" th:attrappend="content=${article.summary}" />
    <meta name="keywords" content="pdf电子书, 免费图书, 电子书籍, pdf, 技术博客, 博客, IT, spring, spring boot, spring cloud, java rejoice博客 " />
        </head>

<body>

	<div th:include="fragments/bodyHeader" th:remove="tag"></div>
	<link rel="stylesheet" th:href="@{/css/detail.css}" id="theme-styles" />
	<link th:href="@{/small-plugin/share/smohan.popshare.css}"
		rel="stylesheet" />
		<div  th:include="fragments/left"></div>
         <div class="widewrapper main" style="width:60%;float:left;">
		<div class="container content" style="width:100%;" >
			<div class="row">
				<div  style="padding:20px;">
					<article class="blog-post">
					<span class="original">原创</span> 
							<h1 class="detail-title" style="display:inline;" th:text="${article.title}" ></h1>
							<span id="summary" style="display:none" th:text="${article.summary}"></span>
							<div style="margin-top:20px;">
							<i class="fa fa-clock-o" ></i>
							<span style="margin-left:4px;" th:text="${article.postTime}"></span> 
							<i class="fa fa-user" style="margin-left:10px;"></i>
							<span class="author" style="margin-left:4px;" th:text="${article.author} ? ${article.author}:'rejoice'" ></span> 
							<i class="fa fa-eye"  style="margin-left:10px;"></i><span  style="margin-left:4px;" th:text="${article.readCount}"></span>
							<i class="fa fa-comment"  style="margin-left:10px;"></i><span  style="margin-left:4px;" th:text="${article.commentCount}"></span>
									
									</div>
							<div style="margin-top:20px;" th:utext="${article.content}"></div>
					</article>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"250"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>			<!-- share end -->
			<!--高速版-->
<div id="SOHUCS" th:attr="sid=${article.id}"></div>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cytBCK4x5',
conf: 'prod_5a63c4b821f3be65940b2622b60daf3f'
});
</script>
				</div>
				
			</div>
		</div>
	</div>








 <div th:include="fragments/wall-card"></div>
      

	<table th:include="fragments/footer :: footer" class="footer">

	</table>
	<script th:inline="javascript">
	//get model in script
	var article =[[${article}]];
	</script>
	<script  th:src="@{/js/user/detail.js}"  ></script>
</body>

</html>