<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- <head th:substituteby="fragments/headTag :: headTag"> -->
  <head th:include="fragments/headTag :: headTag">
  </head>
      <link rel="stylesheet" th:href="@{/css/blog.css}" id="theme-styles" />
  <body>
<style>
.layui-laypage-skip:HOVER {
	color:black;
}
.layui-laypage-skip > button:HOVER {
	border:1px solid #009688;
}
</style>
      <div th:include="fragments/bodyHeader" th:remove="tag">
      </div>
      <div class="left" style="float:left; margin:16px 20px;padding:4px;width:18%;">
      	<div class="border-shadow" style="background:white;height:300px">我是rejoice</div>
     	 <div class="border-shadow" style="background:white;margin-top:40px;">关注我</div>
      </div>
       <div class="widewrapper main" style="width:60%;float:left;">
        <div class="container content" style="width:100%;" >
        	<div style="float: left;
    height: auto;">
            <div id="article-list" >
            </div>
		<fieldset id="article-page" class="layui-elem-field layui-field-title" style="float:left;border:none;">
						  <legend>显示完整功能</legend>
						</fieldset>
        	</div>

        </div>
    </div>
      
      
         <aside class="col-md-4 blog-aside" style="width:16%;float:right;margin:20px;">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>Featured Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>Related Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                            </ul>
                        </div>
                    </div>

                 <!--    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>                            
                            </ul>
                        </div>
                    </div> -->
                </aside>
      
      
      
      
      
      
      
      <table th:include="fragments/footer :: footer" class="footer">

      </table>
	<script th:src="@{/js/user/public/blog.js}"></script>

  </body>

</html>