<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:include="fragments/headTag :: headTag" th:remove="tag">
  </div>
  	<title>rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
<meta property="og:type" content="website">
<meta property="og:title" content="rejoice博客">
<meta property="og:url" content="http://www.rejoiceblog.com/">
<meta property="og:site_name" content="rejoice博客">
<meta property="og:description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
<meta property="og:locale" content="zh-CN">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="rejoice博客">
<meta name="twitter:description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
    <meta name="keywords" content="pdf电子书, 免费图书, 电子书籍, pdf, 技术博客, 博客, IT, spring, spring boot, spring cloud, java rejoice博客 " />
        </head>
  <body>
<style>
.layui-laypage-skip:HOVER {
	color:black;
}
.layui-laypage-skip > button:HOVER {
	border:1px solid #009688;
}
</style>
      <div th:include="fragments/bodyHeader" th:remove="tag">
      </div>
      <div class="left" style="float:left; margin:16px 20px;padding:4px;width:18%;">
      	<div class="border-shadow" style="background:white;height:300px">我是rejoice</div>
     	 <div class="border-shadow" style="background:white;margin-top:40px;">关注我</div>
      </div>
       <div class="widewrapper main" style="width:60%;float:left;">
        <div class="container content" style="width:100%;" >
        	<div style="float: left;
    height: auto;">
            <div id="article-list" >
			<input type="hidden" id="count" th:value="${count}" />
			<input type="hidden" id="curr"  th:value="${curr}"/>
             <div th:each="article : ${list}">
					<div class="col-md-8 blog-main">
						<img th:src="${article.imgUrl}?${article.imgUrl}:'/img/1.jpg'"  />
						<div class="article">
							<a target="_blank" class="title" th:href="'/article/'+${article.id}+'.html'">
								<h3 th:text="${article.title}"></h3>
							</a>
							<p class="blog-content" th:text="${article.summary}"></p>
							<div id="meta" style="position: absolute;
    						bottom: 16px;">
							<i class="fa fa-calendar" ></i>
							<span style="margin-left:4px;" th:text="${article.postTime}"></span> 
							<i class="fa fa-user" style="margin-left:10px;"></i>
							<span class="author" style="margin-left:4px;"  th:text="${article.author}?${article.author}:'rejoice'"></span> 
							<i class="fa fa-eye"  style="margin-left:10px;"></i>
							<span  style="margin-left:4px;" th:text="${article.readCount}"></span>
							<i class="fa fa-comment"  style="margin-left:10px;"></i>
								<span  style="margin-left:4px;" th:text="${article.commentCount}"></span>
									</div>
						</div>
  					</div>
		      </div>
            </div>
		<fieldset id="article-page" class="layui-elem-field layui-field-title" style="float:left;border:none;">
						  <legend>显示完整功能</legend>
						</fieldset>
        	</div>

        </div>
    </div>
      
      
         <aside class="col-md-4 blog-aside" style="width:16%;float:right;margin:20px;">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>Featured Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>Related Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                            </ul>
                        </div>
                    </div>

                 <!--    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>                            
                            </ul>
                        </div>
                    </div> -->
                </aside>
      
      
      
      
      
      <table th:include="fragments/footer :: footer" class="footer">

      </table>
	<script th:src="@{/js/user/public/blog.js}"></script>

  </body>

</html>