<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:include="fragments/headTag :: headTag" th:remove="tag">
  </div>
  	<title>rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
<meta property="og:type" content="website">
<meta property="og:title" content="rejoice博客">
<meta property="og:url" content="http://www.rejoiceblog.com/">
<meta property="og:site_name" content="rejoice博客">
<meta property="og:description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
<meta property="og:locale" content="zh-CN">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="rejoice博客">
<meta name="twitter:description" content="rejoice博客 - pdf电子书免费下载、图书、英文原版下载，IT技术博客分享">
    <meta name="keywords" content="pdf电子书, 免费图书, 电子书籍, pdf, 技术博客, 博客, IT, spring, spring boot, spring cloud, java rejoice博客 " />
        </head>
  <body>
<style>
.layui-laypage-skip:HOVER {
	color:black;
}
.layui-laypage-skip > button:HOVER {
	border:1px solid #009688;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
</style>
      <div th:include="fragments/bodyHeader" th:remove="tag">
      </div>
    <div  th:include="fragments/me"></div>
       <div class="widewrapper main" style="width:62%;float:left;">
        <div th:if="${keyword}" style="line-height: 0px;" style="padding:10px;">
	        <div th:if="${#lists.size(list) > 0}">
						搜索关键字：<span style="color:red;" th:text="${keyword}"></span>
			</div>
        
        </div>
        <div class="container content" style="width:100%;" >
        	<div style="float: left;
    height: auto;">
            <div id="article-list" >
			<input type="hidden" id="count" th:value="${count}" />
			<input type="hidden" id="curr"  th:value="${curr}"/>
             <div th:each="article : ${list}" class="col-md-8 blog-main">
						<img th:src="${article.imgUrl}?${article.imgUrl}:'/img/1.jpg'"  />
						<div class="article">
							<a target="_blank" th:inline="text" class="title" th:href="'/article/'+${article.id}+'.html'">
								[[${article.title}]]
							</a>
							<p class="blog-content" th:text="${article.summary}"></p>
							<div id="meta" style="position: absolute;
    						bottom: 16px;">
							<i class="fa fa-calendar" ></i>
							<span style="margin-left:4px;" th:text="${article.postTime}"></span> 
							<i class="fa fa-user" style="margin-left:10px;"></i>
							<span class="author" style="margin-left:4px;"  th:text="${article.author}?${article.author}:'rejoice'"></span> 
							<i class="fa fa-eye"  style="margin-left:10px;"></i>
							<span  style="margin-left:4px;" th:text="${article.readCount}"></span>
							<i class="fa fa-comment"  style="margin-left:10px;"></i>
								<span  style="margin-left:4px;" th:text="${article.commentCount}"></span>
									</div>
						</div>
		      </div>
            </div>
            
      <div th:if="${#lists.size(list) > 0}">
		<div id="page">
			<span th:inline="text" style="margin-right:10px;">共  [[${totalPage}]]  页</span>
			
			<a th:href="'/page/'+${(curr-1)==0?1:(curr-1)}+'/'+${p}" class="item pre">上一页</a>
			
			 <div th:remove="tag" th:each="pageNum:${#numbers.sequence(  
			 
			 curr-2<1?1:((curr+2)>totalPage?(totalPage-4):(curr-2))
			 
			 
			 ,(curr-2<1?5:curr+2)>totalPage?totalPage:(curr-2<1?5:curr+2))}">
			 	<a  th:href="'/page/'+${pageNum}+'/'+${p}" th:text="${pageNum}"  th:class="${pageNum==curr?'item check-page':'item'}"></a>
			 </div>
			<a th:href="'/page/'+${(curr+1)>totalPage?totalPage:(curr+1)}+'/'+${p}" class="item">下一页</a>
			<span class="toPage" style="margin-left:10px;color:#999;">到第
			<input id="to-page" type="number" min="1" value=""  />
			页
			<button type="button" onclick="toPage()" >确定</button>
			</span>
			</div>
	</div>
<!-- ELSE -->
		<div th:unless="${#lists.size(list) > 0}">
				没有查询到<span style="color:red;" th:text="${keyword}"></span>的匹配记录！
		</div>
	
        </div>

        </div>
    </div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"slide":{"type":"slide","bdImg":"5","bdPos":"left","bdTop":"250"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>      


<div th:include="fragments/wall-card"></div>
      
      
      
      
      
      <table th:include="fragments/footer :: footer" class="footer">

      </table>
      
      <script th:inline="javascript">
    var p = [[${p}]];
</script>
	<script th:inline="javascript" th:src="@{/js/user/public/blog.js}"></script>
  </body>

</html>