<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="headTag">
<link rel="icon" type="image/x-icon" th:href="@{/img/logo.jpg}" />
	<title>pdf免费图书、书籍、英文原版下载，IT技术博客分享-rejoice blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap -->
    <link th:href="@{/plugin/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
     <!-- Font-Awesome -->
    <link rel="stylesheet" th:href="@{/plugin/font-awesome-4.7.0/css/font-awesome.min.css}" />

</div>
</body>
</html>